*{
    font-family: 'Courier New', Courier, monospace;

}

header{
    display:flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:white;
    padding: 25px;
}

.container{
    display: flex;
    justify-content: center;
}

.color-boxes{
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.colorBoxes {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    margin: 30px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@keyframes bgcolor {
    0% {
        background-color: #45A3E5
    }
    30% {
        background-color: #66BF39
    }
    60% {
        background-color: #EB670F
    }
    90% {
        background-color: #f35
    }
    100% {
        background-color: #864CBF
    }
}
body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}