*{
    font-family: 'Courier New', Courier, monospace;

}

body{
    background-image: url(./images/coding.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    display:flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:white;
    padding: 25px;
}

.container{
    display: flex;
    justify-content: center;
}

.color-boxes {
    flex-wrap: wrap;
    display: flex;
}

.colorBoxes {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    margin: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}